In [117]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from PIL import Image, ImageDraw, ImageFont

In [19]:
rawdata = pd.read_excel("data.xlsx", sheet_name="Data")

In [20]:
rawdata.head()
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Key number  88 non-null     int64
 1   Notation    88 non-null     object
 2   Frequency   88 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.2+ KB

In [21]:
rawdata['Frequency_cleaned'] = rawdata['Frequency'].apply(lambda x: float(x.strip()))
rawdata

    Key number        Notation     Frequency  Frequency_cleaned
0            1              A0       27.5000            27.5000
1            2           A0/B0       29.1353            29.1353
2            3              B0       30.8677            30.8677
3            4              C1       32.7032            32.7032
4            5           C1/D1       34.6479            34.6479
..         ...             ...           ...                ...
83          84           G7/A7       3322.44          3322.4400
84          85              A7       3520.00          3520.0000
85          86           A7/B7       3729.31          3729.3100
86          87              B7       3951.07          3951.0700
87          88  C8 - Last tone       4186.01          4186.0100

[88 rows x 4 columns]

In [17]:
rawdata.describe()

       Key number  Frequency_cleaned
count   88.000000          88.000000
mean    44.500000         842.276232
std     25.547342        1062.275580
min      1.000000          27.500000
25%     22.750000          96.623825
50%     44.500000         339.428000
75%     66.250000        1192.122500
max     88.000000        4186.010000

In [28]:
rawdata['note_type'] = rawdata['Notation'].apply(lambda x: "Black" if "/" in x else "White")
rawdata

,Key number,Notation,Frequency,Frequency_cleaned,Note Type,Note_Type,Notation_cleaned,key_alphabet,key_number,note_type
0,1,A0,27.5000,27.5000,White,White,A0,A,0,White
1,2,A0/B0,29.1353,29.1353,Black,Black,A0,A,0,Black
2,3,B0,30.8677,30.8677,White,White,B0,B,0,White
3,4,C1,32.7032,32.7032,White,White,C1,C,1,White
4,5,C1/D1,34.6479,34.6479,Black,Black,C1,C,1,Black
...,...,...,...,...,...,...,...,...,...,...
83,84,G7/A7,3322.44,3322.4400,Black,Black,G7,G,7,Black
84,85,A7,3520.00,3520.0000,White,White,A7,A,7,White
85,86,A7/B7,3729.31,3729.3100,Black,Black,A7,A,7,Black
86,87,B7,3951.07,3951.0700,White,White,B7,B,7,White
87,88,C8 - Last tone,4186.01,4186.0100,White,White,C8 - Last tone,C,8,White

In [29]:
rawdata['Notation_cleaned'] = rawdata['Notation'].apply(lambda x: re.sub(r"/.*", "", x))
rawdata

,Key number,Notation,Frequency,Frequency_cleaned,Note Type,Note_Type,Notation_cleaned,key_alphabet,key_number,note_type
0,1,A0,27.5000,27.5000,White,White,A0,A,0,White
1,2,A0/B0,29.1353,29.1353,Black,Black,A0,A,0,Black
2,3,B0,30.8677,30.8677,White,White,B0,B,0,White
3,4,C1,32.7032,32.7032,White,White,C1,C,1,White
4,5,C1/D1,34.6479,34.6479,Black,Black,C1,C,1,Black
...,...,...,...,...,...,...,...,...,...,...
83,84,G7/A7,3322.44,3322.4400,Black,Black,G7,G,7,Black
84,85,A7,3520.00,3520.0000,White,White,A7,A,7,White
85,86,A7/B7,3729.31,3729.3100,Black,Black,A7,A,7,Black
86,87,B7,3951.07,3951.0700,White,White,B7,B,7,White
87,88,C8 - Last tone,4186.01,4186.0100,White,White,C8 - Last tone,C,8,White

In [161]:
rawdata['key_alphabet'] = rawdata['Notation_cleaned'].apply(lambda x: x[0])
rawdata['note_number'] = rawdata['Notation_cleaned'].apply(lambda x: int(x[1]))
rawdata

,Key number,Notation,Frequency,Frequency_cleaned,Note Type,Note_Type,Notation_cleaned,key_alphabet,key_number,note_type,note_number
0,1,A0,27.5000,27.5000,White,White,A0,A,0,White,0
1,2,A0/B0,29.1353,29.1353,Black,Black,A0,A,0,Black,0
2,3,B0,30.8677,30.8677,White,White,B0,B,0,White,0
3,4,C1,32.7032,32.7032,White,White,C1,C,1,White,1
4,5,C1/D1,34.6479,34.6479,Black,Black,C1,C,1,Black,1
...,...,...,...,...,...,...,...,...,...,...,...
83,84,G7/A7,3322.44,3322.4400,Black,Black,G7,G,7,Black,7
84,85,A7,3520.00,3520.0000,White,White,A7,A,7,White,7
85,86,A7/B7,3729.31,3729.3100,Black,Black,A7,A,7,Black,7
86,87,B7,3951.07,3951.0700,White,White,B7,B,7,White,7
87,88,C8 - Last tone,4186.01,4186.0100,White,White,C8 - Last tone,C,8,White,8

In [176]:
df = rawdata[['key_alphabet','Key number','note_number','note_type','Frequency_cleaned']]
df

   key_alphabet  Key number  note_number note_type  Frequency_cleaned
0             A           1            0     White            27.5000
1             A           2            0     Black            29.1353
2             B           3            0     White            30.8677
3             C           4            1     White            32.7032
4             C           5            1     Black            34.6479
..          ...         ...          ...       ...                ...
83            G          84            7     Black          3322.4400
84            A          85            7     White          3520.0000
85            A          86            7     Black          3729.3100
86            B          87            7     White          3951.0700
87            C          88            8     White          4186.0100

[88 rows x 5 columns]

In [ ]:
hindi_notes=['सा','रे','ग','म','प','ध','नि']

In [259]:
# Open the image
img = Image.open('C:/Sumit/music-model/Image/realistic-88-piano-keys-illustration-free-vector.jpg')

In [211]:
key_number = df['Key number'].to_list()
note_type = df['note_type'].to_list()
draw_objects = {}
for i in key_number:
    draw_objects[i] = ImageDraw.Draw(img)

In [280]:
df_white = df.loc[df['note_type']=='White']
df_white_i = df_white.reset_index(drop=True)
df_white_i = df_white_i.reset_index().rename(columns={'index': 'colour_key_number'})
df_white_i

df_black = df.loc[df['note_type']=='Black']
df_black_i = df_black.reset_index(drop=True)
df_black_i = df_black_i.reset_index().rename(columns={'index': 'colour_key_number'})

In [281]:
df_final = pd.concat([df_white_i,df_black_i])
# Sort the concatenated DataFrame by the "key_number" column
sorted_df = df_final.sort_values(by='Key number')
# Reset the index
result_df = sorted_df.reset_index(drop=True)

In [462]:
def draw_placeholder(df,key_alphabet,note_type,scale):
    df_white = df.loc[df['note_type']=='White']
    df_black = df.loc[df['note_type']=='Black']
    df_white_key = df_white['colour_key_number'].to_list()
    df_black_key = df_black['Key number'].to_list()
    root_note = df[(df['key_alphabet']==key_alphabet) & (df['note_type']==note_type) & (df['note_number']==3)]['Key number'].iloc[0]
    
    # Open the image
    img = Image.open('C:/Sumit/music-model/Image/realistic-88-piano-keys-illustration-free-vector.jpg')
    x,k=0,0
    for i in df_white_key:
        note_number = df_white.loc[df_white['colour_key_number']==i]['note_number'].iloc[0]
        classical_note = df_white.loc[df_white['colour_key_number']==i]['classical_note'].iloc[0]
        draw_objects[i] = ImageDraw.Draw(img)
        x=30+i*35.85
        y = 350
        width, height = 30, 60
        # Draw a rectangle as a placeholder
        if classical_note == 1:
            draw_objects[i].rectangle([x, y, x+width, y+height], outline='black', width=2, fill='magenta')
        elif note_number==3:
            draw_objects[i].rectangle([x, y, x+width, y+height], outline='black', width=2, fill='yellow')
        else:
            draw_objects[i].rectangle([x, y, x+width, y+height], outline='black', width=2, fill='yellow')
    x,k=0,0
    for i in df_black_key:
        note_number = df_black.loc[df_black['Key number']==i]['note_number'].iloc[0]
        classical_note = df_black.loc[df_black['Key number']==i]['classical_note'].iloc[0]
        draw_objects[i] = ImageDraw.Draw(img)
        x=16+i*20.96
        y = 200
        width, height = 20, 60
        # Draw a rectangle as a placeholder
        if classical_note == 1:
            draw_objects[i].rectangle([x, y, x+width, y+height], outline='black', width=2, fill='magenta')
        elif note_number==3:
            draw_objects[i].rectangle([x, y, x+width, y+height], outline='black', width=2, fill='yellow')
        else:
            draw_objects[i].rectangle([x, y, x+width, y+height], outline='black', width=2, fill='yellow')
    # Show the image
    # Create a drawing object
    draw_object_text = ImageDraw.Draw(img)
    draw_object_box = ImageDraw.Draw(img)

    # Define placeholder coordinates and size
    x, y = 500, 50
    width, height = 200, 50
    # Draw a rectangle as a placeholder
    draw_object_text.rectangle([x, y, x+width, y+height], outline='black', width=2, fill='yellow')

    font = ImageFont.truetype("C:/Sumit/music-model/Font/Akshar Unicode.ttf", 20)
    text1=""
    if note_type=="Black":
        text1="#"
    else:
        text1=""
    text = key_alphabet +" "+ text1+" "+scale
    text_width = draw_object_text.textlength(text, font=font)
    # Assuming your font size is stored in a variable called 'font_size'
    estimated_text_height = 2  # Assuming font size is available
    text_x = x + (width - text_width) / 2
    text_y = y + (height - estimated_text_height) / 2
    draw_object_text.text((text_x, text_y), text, fill='black', font=font)

    x, y = 600, 150
    width, height = 500, 300
    # Draw a rectangle as a placeholder
    draw_object_box.rectangle([x, y, x+width, y+height], outline='red', width=2)
    # Define font
    img.show()

In [463]:
def classical_notes(key_alphabet,note_type='White',scale='Major',key_number=4):
    major_sacle=[0,2,4,5,7,9,11,12]
    minor_sacle=[0,2,3,5,7,8,10,12]
    filtered_df = df[(df['key_alphabet'] == key_alphabet) & (df['note_type'] == note_type)]
    first_index = filtered_df.index[0]
    scale_index=[]
    max_value=0
    if scale=='Major':
        while max_value<88:
            for num in major_sacle:
                scale_index.append(first_index+num)
                max_value = max(scale_index)
            first_index = max_value
    if scale=='Minor':
        while max_value<88:
            for num in minor_sacle:
                scale_index.append(first_index+num)
                max_value = max(scale_index)
            first_index = max_value
    scale_index = [num for num in scale_index if num < 88]
    scale_index = list(set(scale_index))
    df_scale = result_df.loc[scale_index]
    df_small = df_scale.loc[(df_scale['note_number']>1) & (df_scale['note_number']<6)]
    df_small = df_small.reset_index(drop=True)
    # Define the starting number
    root_note = df_small[(df_small['key_alphabet']==key_alphabet) & (df_small['note_type']==note_type) & (df_small['note_number']==3)]['Key number'].iloc[0]
    starting_number = 8-df_small[df_small['Key number']==root_note].index[0]%7-1
    list_length = df_small.shape[0]
    repeat_range = 7
    # Create the list
    result_list = [(starting_number + i % repeat_range) % repeat_range + 1 for i in range(list_length)]
    df_small['classical_note']=result_list

    return df_small

In [466]:
key_alphabet='C'
note_type='Black'
scale='Major'

df_scale= classical_notes(key_alphabet=key_alphabet,note_type=note_type,scale=scale,key_number=4)
df_scale

,colour_key_number,key_alphabet,Key number,note_number,note_type,Frequency_cleaned,classical_note
0,9,C,16,2,White,65.4064,7
1,6,C,17,2,Black,69.2957,1
2,7,D,19,2,Black,77.7817,2
3,12,F,21,2,White,87.3071,3
4,8,F,22,2,Black,92.4986,4
5,9,G,24,2,Black,103.8260,5
6,10,A,26,2,Black,116.5410,6
7,16,C,28,3,White,130.8130,7
8,11,C,29,3,Black,138.5910,1
9,12,D,31,3,Black,155.5630,2
10,19,F,33,3,White,174.6140,3
11,13,F,34,3,Black,184.9970,4
12,14,G,36,3,Black,207.6520,5
13,15,A,38,3,Black,233.0820,6
14,23,C,40,4,White,261.6260,7
15,16,C,41,4,Black,277.1830,1
16,17,D,43,4,Black,311.1270,2
17,26,F,45,4,White,349.2280,3
18,18,F,46,4,Black,369.9940,4
19,19,G,48,4,Black,415.3050,5
20,20,A,50,4,Black,466.1640,6
21,30,C,52,5,White,523.2510,7
22,21,C,53,5,Black,554.3650,1
23,22,D,55,5,Black,622.2540,2
24,33,F,57,5,White,698.4560,3
25,23,F,58,5,Black,739.9890,4
26,24,G,60,5,Black,830.6090,5
27,25,A,62,5,Black,932.3280,6

key_alphabet='C'
note_type='Black'
scale='Major'
key_number=4
root_note = df_scale[(df_scale['key_alphabet']==key_alphabet) & (df_scale['note_type']==note_type) & (df_scale['note_number']==3)]['Key number'].iloc[0]
starting_number = 8-df_scale[df_scale['Key number']==root_note].index[0]%7-1
list_length = df_scale.shape[0]
repeat_range = 7
Create the list
result_list = [(starting_number + i % repeat_range) % repeat_range + 1 for i in range(list_length)]
df_small['classical_note']=result_list

In [467]:
draw_placeholder(df_scale,key_alphabet=key_alphabet,note_type=note_type,scale=scale)

In [352]:
# Create a drawing object
draw_objects[0] = ImageDraw.Draw(img)

# Define placeholder coordinates and size
x, y = 30, 350
width, height = 32, 60

# Draw a rectangle as a placeholder
draw_objects[0].rectangle([x, y, x+width, y+height], outline='black', width=2, fill='yellow')

# Define font
font = ImageFont.truetype("C:/Sumit/music-model/Font/Akshar Unicode.ttf", 20)

text = "सा"
text_width = draw_objects[0].textlength(text, font=font)

# Assuming your font size is stored in a variable called 'font_size'
estimated_text_height = 2  # Assuming font size is available

text_x = x + (width - text_width) / 2
text_y = y + (height - estimated_text_height) / 2
draw_objects[0].text((text_x, text_y), text, fill='black', font=font)

# Show the image
img.show()